---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
ColumnLimit: 140
IndentWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: Never
BreakBeforeBraces: Attach
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
...
